<dl>
  <dt>
    <label for="bookmark_name">Name: </label>
  </dt>
  <dd>
    <input id="bookmark_name" type="text" name="bookmark[name]" value="<%= @bookmark.name %>" autofocus>
  </dd>
</dl>
<div class="clear_both"></div>